<div class="details">
    <p class="title"><a href="junior-java-developer-oferta-1690915"
                        title="Oferta pracy na stanowisku Junior Java Developer - zobacz szczegóły">Junior Java
        Developer</a></p>
    <p class="employer"><a href="pracodawca/manpowergroup-sp-z-oo-48660"
                           title="ManpowerGroup Sp. z o.o. - poznaj pracodawcę">ManpowerGroup Sp. z o.o.</a></p>
    <p class="localization"><span class="icon-position-small"><a href="junior-java-developer-oferta-1690915#1734258"
                                                                 title="Junior Java Developer - Warszawa (mazowieckie)">Warszawa (mazowieckie)</a></span>
    </p>
    <p class="date">23.04.2017</p>
    <p class="favourite"><a class="tipsy icon-fav" href="do-ulubionych-1690915"
                            original-title="Dodaj ofertę do ulubionych" rel="nofollow"><span>Dodaj do ulubionych</span></a>
    </p></div>